@model IEnumerable<FeedMeBack.Models.SystemKey>

@{
    ViewBag.Title = "System keys";
}

<h2>Systems</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Key)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.System)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Key)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.System)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Use the stick to top jQuery plug in</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li>
                Download the <a href="/Scripts/jquery.feed-me-back.js">plug in</a>, put the plug in under the <label>Script</label> folder
            </li>
            <li>
                Include below javascript in your main web page.
                <blockquote>
                    <span>&lt;script src="/Scripts/jquery.feed-me-back.js"&gt;&lt;/script&gt;</span>
                    
                    <br />
                    &lt;script&gt;<br />
                    jQuery(document).ready(function ($) {<br />
                    $('body').feedMeBack({ <br />
                    key: '{{your key}}', <br />
                    url: '{{your url}}', <br />
                    userName: {{your code}} });<br />
                    });
                    &lt;/script&gt;
                </blockquote>
            </li>
        </ul>
    </div>
</div>